ServidorWeb/web/WEB-INF/wsdl/localhost_8089/webserviceListasReproduccion.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.0 (RELEASE-4.0.0-8ca5f78; 2022-06-21T04:52:23+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#8ca5f78. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.0 (RELEASE-4.0.0-8ca5f78; 2022-06-21T04:52:23+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#8ca5f78. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="ListasReproduccionServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:8089/webserviceListasReproduccion?xsd=1"/>
</xsd:schema>
</types>
<message name="getNombresListasParticulares"/>
<message name="getNombresListasParticularesResponse">
<part name="return" type="tns:arrayList"/>
</message>
<message name="getListaDTDatosListaReproduccionDeCliente">
<part name="arg0" type="xsd:string"/>
</message>
<message name="getListaDTDatosListaReproduccionDeClienteResponse">
<part name="return" type="tns:arrayList"/>
</message>
<message name="CrearListaParticularConFecha">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:dateTime"/>
<part name="arg4" type="xsd:boolean"/>
</message>
<message name="CrearListaParticularConFechaResponse"/>
<message name="CrearListaParticular">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:boolean"/>
</message>
<message name="CrearListaParticularResponse"/>
<message name="getNombresListasPorDefecto"/>
<message name="getNombresListasPorDefectoResponse">
<part name="return" type="tns:arrayList"/>
</message>
<message name="getNombresListasParticularesPublicas"/>
<message name="getNombresListasParticularesPublicasResponse">
<part name="return" type="tns:arrayList"/>
</message>
<message name="ConsultarListaReproduccion">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="ConsultarListaReproduccionResponse">
<part name="return" type="tns:dtDatosListaReproduccion"/>
</message>
<message name="getListasReproduccionDisponibles"/>
<message name="getListasReproduccionDisponiblesResponse">
<part name="return" type="tns:arrayList"/>
</message>
<message name="listasCreadasEstadoPrivadoTrue">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listasCreadasEstadoPrivadoTrueResponse">
<part name="return" type="tns:arrayList"/>
</message>
<portType name="ListasReproduccionService">
<operation name="getNombresListasParticulares">
<input wsam:Action="http://WebServices/ListasReproduccionService/getNombresListasParticularesRequest" message="tns:getNombresListasParticulares"/>
<output wsam:Action="http://WebServices/ListasReproduccionService/getNombresListasParticularesResponse" message="tns:getNombresListasParticularesResponse"/>
</operation>
<operation name="getListaDTDatosListaReproduccionDeCliente">
<input wsam:Action="http://WebServices/ListasReproduccionService/getListaDTDatosListaReproduccionDeClienteRequest" message="tns:getListaDTDatosListaReproduccionDeCliente"/>
<output wsam:Action="http://WebServices/ListasReproduccionService/getListaDTDatosListaReproduccionDeClienteResponse" message="tns:getListaDTDatosListaReproduccionDeClienteResponse"/>
</operation>
<operation name="CrearListaParticularConFecha" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input wsam:Action="http://WebServices/ListasReproduccionService/CrearListaParticularConFechaRequest" message="tns:CrearListaParticularConFecha"/>
<output wsam:Action="http://WebServices/ListasReproduccionService/CrearListaParticularConFechaResponse" message="tns:CrearListaParticularConFechaResponse"/>
</operation>
<operation name="CrearListaParticular" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://WebServices/ListasReproduccionService/CrearListaParticularRequest" message="tns:CrearListaParticular"/>
<output wsam:Action="http://WebServices/ListasReproduccionService/CrearListaParticularResponse" message="tns:CrearListaParticularResponse"/>
</operation>
<operation name="getNombresListasPorDefecto">
<input wsam:Action="http://WebServices/ListasReproduccionService/getNombresListasPorDefectoRequest" message="tns:getNombresListasPorDefecto"/>
<output wsam:Action="http://WebServices/ListasReproduccionService/getNombresListasPorDefectoResponse" message="tns:getNombresListasPorDefectoResponse"/>
</operation>
<operation name="getNombresListasParticularesPublicas">
<input wsam:Action="http://WebServices/ListasReproduccionService/getNombresListasParticularesPublicasRequest" message="tns:getNombresListasParticularesPublicas"/>
<output wsam:Action="http://WebServices/ListasReproduccionService/getNombresListasParticularesPublicasResponse" message="tns:getNombresListasParticularesPublicasResponse"/>
</operation>
<operation name="ConsultarListaReproduccion" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/ListasReproduccionService/ConsultarListaReproduccionRequest" message="tns:ConsultarListaReproduccion"/>
<output wsam:Action="http://WebServices/ListasReproduccionService/ConsultarListaReproduccionResponse" message="tns:ConsultarListaReproduccionResponse"/>
</operation>
<operation name="getListasReproduccionDisponibles">
<input wsam:Action="http://WebServices/ListasReproduccionService/getListasReproduccionDisponiblesRequest" message="tns:getListasReproduccionDisponibles"/>
<output wsam:Action="http://WebServices/ListasReproduccionService/getListasReproduccionDisponiblesResponse" message="tns:getListasReproduccionDisponiblesResponse"/>
</operation>
<operation name="listasCreadasEstadoPrivadoTrue">
<input wsam:Action="http://WebServices/ListasReproduccionService/listasCreadasEstadoPrivadoTrueRequest" message="tns:listasCreadasEstadoPrivadoTrue"/>
<output wsam:Action="http://WebServices/ListasReproduccionService/listasCreadasEstadoPrivadoTrueResponse" message="tns:listasCreadasEstadoPrivadoTrueResponse"/>
</operation>
</portType>
<binding name="ListasReproduccionServicePortBinding" type="tns:ListasReproduccionService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getNombresListasParticulares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="getListaDTDatosListaReproduccionDeCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="CrearListaParticularConFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="CrearListaParticular">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="getNombresListasPorDefecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="getNombresListasParticularesPublicas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="ConsultarListaReproduccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="getListasReproduccionDisponibles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="listasCreadasEstadoPrivadoTrue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
</binding>
<service name="ListasReproduccionServiceService">
<port name="ListasReproduccionServicePort" binding="tns:ListasReproduccionServicePortBinding">
<soap:address location="http://localhost:8089/webserviceListasReproduccion"/>
</port>
</service>
</definitions>